.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #ffffff;
  position: relative;
  min-height: 100vh;
}

.top-right-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 20px;
  right: 35px;
}

.help-button {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(57, 66, 159, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
}

.help-button .close-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  right: -25px;
  position: absolute;

}

.search-icon {
  width: 50px;
  height: 52px;
  margin-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 40px;
}
.search-bar {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50px;
}


.search-bar .search-button {
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.about-us-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.text-section {
  flex: 1;
  padding-right: 20px;
}

.text-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.text-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    font-size:20px;
  }
}

.text-section p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}

.learn-more-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more-button:hover {
  background-color: #0056b3;
}

.image-section {
  position: relative;
  flex: 1;
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 80px;
  right: -120px;
  background-color: #FAFAFB;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  
}

.overlay h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.overlay .mechanify-logo {
  height: 10px;
  width: 30px;
  margin-right: 10px;
  color: black;
}

.overlay i {
  margin-right: 10px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .about-us {
    padding: 30px;
  }

  .top-right-buttons {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    top: 10px;
    right: 15px;
  }

  .help-button {
    margin-bottom: 10px;
  }

  .search-icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }

  .about-us-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;  
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    padding-right: 0;
    text-align: center; 
    margin-bottom: 0px;
  }
  .text-section h4 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  

  .learn-more-button {
    margin-top: 20px;
  }

  .image-section {
    margin-top: 20px;
  }

  .image-section img {
    max-width: 80%; /* Adjust image size for mobile */
  }

  .overlay {
    display: block; /* Display overlay for mobile */
    position: static; /* Change position to static */
    margin-top: 20px; /* Add margin for spacing */
    right: auto;
    padding: 20px;
    text-align: center; /* Center align content */
  }
}