.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  main {
    padding: 1em;
  }
}

.App.menu-open main {
  margin-top: 200px; 
}
