.login-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f4f4f4 50%, white 50%), url('../images/booking_background.png') no-repeat center center/cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 120px 100px 120px;
    bottom: -30%;
    height: 120vh;
    text-align: center;
    margin-bottom: 20px;
    position: relative;

}

.login-upper-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-image: url('../images/booking_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
}

.login-lower-background {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 50%;
    background-color: white;
    z-index: -1;
}



.login-popup {
    background-color: #EFEFEF;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-logo {
    width: 120px;
    margin-bottom: 20px;
}

.login-title {
    font-size: 20px;
    color: #007bff;
}

.login-subtitle {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.login-form {
    margin: 20px 0;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.login-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.login-divider {
    margin: 20px 0;
    position: relative;
}

.login-divider span {
    background-color: #fff;
    padding: 0 10px;
    color: #999;
}

.login-social {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.login-social.google {
    background-color: #dd4b39;
    color: #fff;
}

.login-social.apple {
    background-color: #333;
    color: #fff;
}

.login-terms {
    font-size: 12px;
    color: #999;
}